extends layout

block content
  .ui.grid
    .six.wide.column.centered
      .ui.dividing.header Esta es la pagina de pruebas
      p.title Hola Mundo
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .ui.primary.basic.button Boton en el segundo commit
      table.ui.single.table
        thead
          tr
            th Titulo
            th ISBN
            th precio
            th Disponibilidad
        tbody
          tr
            td NodeJS a Fondo
            td 95123578965413
            td $598.50
            td Disponible
