doctype html
html
  head
    title Encuesta
    link(rel='stylesheet' href='https://unpkg.com/flatpickr/dist/flatpickr.min.css')
    link(rel='stylesheet' href='/semantic/semantic.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body    
    block content
    script(src='/javascripts/jquery-3.0.0.js')
    script(src='https://unpkg.com/flatpickr')
    script(src='/semantic/semantic.min.js')
    script(src='/javascripts/scripts.js')
